<div>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link active">プロフィール</a></li>
    <li class="nav-item"><a href="<%= articles_user_path(@user) %>" class="nav-link ">投稿記事</a></li>
    <li class="nav-item"><a href="<%= interpretations_user_path(@user) %>" class="nav-link">投稿した回答</a></li>
  </ul>
  <div>
    
    <h4><%= @user.name %>さんのページ</h4>
    
    <h5>プロフィール</h5>
    <div class="rounded-circle">
      <% if @user.image? %>
      <%= image_tag @user.image.url(:thumb), class:"rounded-circle" %>
      <% else %>
         <%= image_tag "default-avatar.png", alt: "user-icon", size: "100", class: "rounded-circle" %>
      <% end %>
    </div>
    <div>
      <%= @user.profile %>
    </div>
    
    <div>
      <% if @user == current_user %>
        <%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
      <% end %>
    </div>
  </div>
</div>
